 <% if user_signed_in? %>
  <h2 class="welcome">Bienvenu <%= current_user.username %></h2>
  <% else %>
  <h3 class="welcome2">Connectez-vous pour créer une liste</h3>
 <% end %>

  <form action="" class="search-form">
    <div class="form-group">
        <%= form_tag(lists_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Chercher le titre de la liste", id:"search",class: "form-control" %>
        <% end %>
    </div>
  </form>

<div class="row">
<div class="col-md-12">
<p id="notice"><%= notice %></p>
<% if @lists.present?%>
<%  @lists.each do |list | %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"> <%= link_to list.title, list %></h2>
    <small><em>Liste de: <%= list.user.username unless list.user.blank? %><em></small>
  </div>
<% end %>
<% else %>
  <p>Il n'y a pas de liste contenant le(s) terme(s) <%= params[:search] %>.</p>
  <div class="links">
  <%= link_to "Retour",lists_path %>
  </div>
<% end %>
</div>
</div>
<div class="links">
 <%= will_paginate @lists, renderer: BootstrapPagination::Rails,  :previous_label => 'Précédent', :next_label => 'Suivant' %>
  <%= link_to "Nouvelle liste", new_list_path %>
  <%= render 'layouts/footer' %>
</div>